/* GLOBAL STYLES */
body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  padding: 0 clamp(1rem, 5vw, 2rem);
  color: var(--fake-black);
  background: linear-gradient(to bottom, rgb(219 219 219), rgb(255 255 255));
}
a {
  color: var(--primary-color);
  text-decoration: none;
}
h1 {
  font-weight: 900;
  font-size: 28.3571px;
  line-height: 125.4%;
  letter-spacing: 0.08em;
}
p {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.063rem;
  letter-spacing: 0.08em;
}
.cta {
  background-color: var(--primary-color);
  color: #fff;
  text-transform: uppercase;
  border: none;
  padding: 0.6rem;
  margin: 0 auto;
  font-weight: 800;
  font-size: 1.184rem;
  letter-spacing: 0.09em;
  cursor: pointer;
  text-align: center;
}
small {
  font-weight: 100;
  font-size: 0.627rem;
  line-height: 110.4%;
  letter-spacing: 0.08em;
}
.logo {
  height: var(--logo-height);
}
header {
  padding: var(--header-padding);
  margin: 0 clamp(-2rem, -5vw, -1rem);
  background: linear-gradient(to bottom, rgb(165 165 165), rgba(0, 187, 255, 0));
}
static,
interactive,
router,
route {
  display: contents;
}
svg {
  shape-rendering: geometricPrecision;
}

/* Variables */
:root {
  --primary-color: #00bbff;
  --fake-white: #e8e8e8;
  --fake-black: #121212;
  --dark-gray: #282828;
  --light-gray: #8e8e93;
  --menu-height: clamp(4rem, 8vh, 5rem);
  --logo-height: clamp(2rem, 4vh, 3rem);
  --header-padding: clamp(1rem, 3vh, 2rem);
  --header-height: calc(var(--logo-height) + var(--header-padding) * 2);
}

/* STYLES RESET */

* {
  margin: 0;
  padding: 0;
}

/* HELPERS */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center {
  align-content: center;
  text-align: center;
}
.center2 {
  margin: auto;
  display: block;
}
