home {
  --hero-height: clamp(300px, 60vh, 400px);
  --hero-height: clamp(300px, 60svh, 400px);
  min-height: var(--home-height);
  min-height: var(--home-height);
  display: flex;
  flex-direction: column;
  gap: clamp(0.8rem, 2vh, 3rem);
  gap: clamp(0.8rem, 2svh, 3rem);
  img {
    position: absolute;
    width: 100%;
    inset: 0;
    -webkit-mask-image: linear-gradient(0deg, rgba(166, 166, 166, 0) 10%, rgba(115, 115, 115, 0.5) 18%, #737373 39%, #737373 100%, rgba(217, 217, 217, 0) 100%);
    mask-image: linear-gradient(0deg, rgba(166, 166, 166, 0) 10%, rgba(115, 115, 115, 0.5) 18%, #737373 39%, #737373 100%, rgba(217, 217, 217, 0) 100%);
    -webkit-mask-size: cover;
    mask-size: cover;
    z-index: -1;
    object-position: top;
    object-fit: cover;
    /* height: var(--hero-height); */
    max-height: 60vh;
    max-height: 60svh;
  }
  texteffect {
    max-height: 25vh;
    max-height: 25svh;
    font-weight: 700;
    font-size: 1.113rem;
    line-height: 1.263rem;
    letter-spacing: 0.1em;
    opacity: 0.05;
    -webkit-mask-image: linear-gradient(0deg, rgba(166, 166, 166, 0) 0%, rgba(115, 115, 115, 0.5) 5%, #737373 86%, #737373 41%, rgba(217, 217, 217, 0) 100%);
    mask-image: linear-gradient(0deg, rgba(166, 166, 166, 0) 0%, rgba(115, 115, 115, 0.5) 5%, #737373 86%, #737373 41%, rgba(217, 217, 217, 0) 100%);
    -webkit-mask-size: cover;
    mask-size: cover;
  }
  svg {
    overflow: visible;
  }
  logos {
    padding: clamp(0.1rem, 1vh, 1rem) 0;
    padding: clamp(0.1rem, 1svh, 1rem) 0;
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
  }
  companies {
    display: flex;
    flex-direction: column;
    gap: clamp(0.1rem, 1vh, 1rem);
    gap: clamp(0.1rem, 1svh, 1rem);
    flex: 1;
    justify-content: center;
  }
  herotexts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: clamp(0.1rem, 1vh, 1rem);
    gap: clamp(0.1rem, 1svh, 1rem);
    flex: 1;
  }
  cta {
    flex: 1;
    align-self: center;
  }
}
