home {
  --hero-height: clamp(300px, 60vh, 400px);
  --hero-height: clamp(300px, 60svh, 400px);
  min-height: var(--home-height);
  display: flex;
  flex-direction: column;
  gap: clamp(0.8rem, 2vh, 3rem);
  gap: clamp(0.8rem, 2svh, 3rem);
  img {
    position: absolute;
    width: 100%;
    inset: 0;
    -webkit-mask-image: linear-gradient(0deg, rgba(166, 166, 166, 0) 10%, rgba(115, 115, 115, 0.5) 18%, #737373 39%, #737373 100%, rgba(217, 217, 217, 0) 100%);
    mask-image: linear-gradient(0deg, rgba(166, 166, 166, 0) 10%, rgba(115, 115, 115, 0.5) 18%, #737373 39%, #737373 100%, rgba(217, 217, 217, 0) 100%);
    -webkit-mask-size: cover;
    mask-size: cover;
    z-index: -1;
    object-position: top;
    object-fit: cover;
    /* height: var(--hero-height); */
    max-height: 60vh;
    max-height: 60svh;
    min-height: 300px;
  }
  .texteffect {
    max-height: 25vh;
    height: clamp(6rem, 20svh, 11rem);
    font-weight: 700;
    font-size: 1.113rem;
    line-height: 1.263rem;
    letter-spacing: 0.1em;
    opacity: 0.05;
    -webkit-mask-image: linear-gradient(0deg, rgba(166, 166, 166, 0) 0%, rgba(115, 115, 115, 0.5) 5%, #737373 86%, #737373 41%, rgba(217, 217, 217, 0) 100%);
    mask-image: linear-gradient(0deg, rgba(166, 166, 166, 0) 0%, rgba(115, 115, 115, 0.5) 5%, #737373 86%, #737373 41%, rgba(217, 217, 217, 0) 100%);
    -webkit-mask-size: cover;
    mask-size: cover;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    > li {
      scroll-snap-align: start;
    }
  }
  svg {
    overflow: visible;
  }
  logos {
    padding: clamp(0.1rem, 1vh, 1rem) 0;
    padding: clamp(0.1rem, 1svh, 1rem) 0;
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
  }
  companies {
    display: flex;
    flex-direction: column;
    gap: clamp(0.1rem, 1vh, 1rem);
    gap: clamp(0.1rem, 1svh, 1rem);
    justify-content: center;
  }
  herotexts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: clamp(0.1rem, 1vh, 1rem);
    gap: clamp(0.1rem, 1svh, 1rem);
  }
  cta {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    gap: 1svh;
    padding: clamp(0.3rem, 1vh, 0.8rem) 0;
    padding: clamp(0.3rem, 1svh, 0.8rem) 0;
  }
}
/* Texteffects is shorted when viewwport height is sorter */
@media (max-height: 650px) {
  home texteffect {
    height: clamp(4rem, 15svh, 11rem);
  }
}
@media (min-height: 750px) {
  home {
    herotexts {
      flex: 1;
    }
    cta {
      flex: 1;
    }
  }
}
