home {
  --hero-height: clamp(300px, 60vh, 400px);
  min-height: calc(100vh - var(--menu-height) - var(--header-height));
  display: flex;
  flex-direction: column;
  gap: clamp(0.8rem, 2vh, 3rem);
  img {
    position: absolute;
    width: 100%;
    height: auto;
    inset: 0;
    top: calc(var(--header-height) - var(--header-padding));
    -webkit-mask-image: linear-gradient(0deg, rgba(166, 166, 166, 0) 0%, rgba(115, 115, 115, 0.5) 18%, #737373 43%, #737373 90.5%, rgba(217, 217, 217, 0) 100%);
    mask-image: linear-gradient(0deg, rgba(166, 166, 166, 0) 0%, rgba(115, 115, 115, 0.5) 18%, #737373 43%, #737373 90.5%, rgba(217, 217, 217, 0) 100%);
    -webkit-mask-size: cover;
    mask-size: cover;
    z-index: -1;
    object-position: top;
    object-fit: cover;
    height: var(--hero-height);
  }
  texteffect {
    font-weight: 700;
    font-size: 1.113rem;
    line-height: 1.263rem;
    letter-spacing: 0.1em;
    opacity: 0.05;
    -webkit-mask-image: linear-gradient(0deg, rgba(166, 166, 166, 0) 0%, rgba(115, 115, 115, 0.5) 5%, #737373 86%, #737373 41%, rgba(217, 217, 217, 0) 100%);
    mask-image: linear-gradient(0deg, rgba(166, 166, 166, 0) 0%, rgba(115, 115, 115, 0.5) 5%, #737373 86%, #737373 41%, rgba(217, 217, 217, 0) 100%);
    -webkit-mask-size: cover;
    mask-size: cover;
  }
  svg {
    overflow: visible;
  }
  logos {
    padding: clamp(0.1rem, 1vh, 1rem) 0;
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
  }
  .scroll-to-about {
    color: var(--fake-black);
    gap: 0.5rem;
    flex: 1;
  }
  companies {
    display: flex;
    flex-direction: column;
    gap: clamp(0.1rem, 1vh, 1rem);
    flex: 1;
    justify-content: center;
  }
  herotexts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: clamp(0.1rem, 1vh, 1rem);
    flex: 1;
  }
}
