about {
  min-height: calc(100vh - var(--menu-height) - var(--header-height));
  min-height: calc(100svh - var(--menu-height) - var(--header-height));
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/fractal.webp");
  background-size: cover;
  background-position: center;
  display: block;
  margin: 0 clamp(-2rem, -5vw, -1rem);

  .scroll-to-about {
    color: var(--fake-white);
    gap: var(--scroll-to-about-gap);
    padding: var(--scroll-to-about-padding);
    height: calc(100vh - var(--home-height) - var(--menu-height) - var(--header-height) - var(--scroll-to-about-padding) * 2);
    height: calc(100svh - var(--home-height) - var(--menu-height) - var(--header-height) - var(--scroll-to-about-padding) * 2);
    animation: alternate-reverse 1s infinite scroll-to-about-animation;
  }
}

@keyframes scroll-to-about-animation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(0.3rem);
  }
}
